<%= link "Existing Items", to: item_path(@conn, :index), class: "button" %>

<h1>Create An Item</h1>
<%= form_for @changeset, item_path(@conn, :create), fn f -> %>
  <label>
    Name: <%= text_input f, :name %>
  </label>

  <label>
    Price: <%= text_input f, :price %>
  </label>

  <label>
    Quantity: <%= select f, :quantity, 1..100 %>
  </label>

  <%= submit "Submit" %>
<% end %>
